ul.navigation {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: var(--nav-background);
    margin: 0.3em 0.3em 0;
    overflow-x: auto; /* allow horizontal scroll when there are many tabs */
    white-space: nowrap; /* keep items on one line */
    -webkit-overflow-scrolling: touch;
}

ul.navigation li {
    float: left;
    margin-bottom: 0;
}

ul.navigation li.logo > img {
    height: 39px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 4px;
}

ul.navigation li a {
    display: block;
    color: var(--nav-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navigation li a:hover:not(.active) {
    background-color: #111;
}

ul.navigation .active {
    background-color: var(--nav-active-background);
}


ul.navigation .active a{
    color: var(--nav-active-color);
}

