#wpwrap > #wpcontent #main-tree {
    margin-left: -20px;
}
@media screen and (max-width: 782px) {
    #wpwrap > #wpcontent #main-tree {
        margin-left: -10px;
    }
}

.mt-nav-outer {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 32px - 65px);
}


.mt-container {
    background: #efefef;
    height: 100%;
    display: flex;
    flex: 1;
    margin: 0 0.3em 0.3em;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #c6c6c6;
    padding: 0.5em;
}
